$default-toolbar-size: rem-calc(64);
$default-toolbar-bg-color: #434343;
$default-drawer-navigation-width: rem-calc(64);
$default-drawer-right-content-width: rem-calc(700);
$default-drawer-bottom-content-height: rem-calc(500);
