<md-toolbar layout="row">
    <md-button data-ng-click="provisionStack()" class="md-raised md-warn" aria-label="provision stack">
        deploy to AWS
    </md-button>
    <span flex></span>
    <md-button data-ng-click="downloadTemplate()" class="md-raised md-primary" aria-label="save stack">
        download template
    </md-button>
    <md-button data-ng-click="saveStack()" class="md-raised md-primary" aria-label="save stack">
        save stack
    </md-button>

    <md-button data-ng-click="toggleTemplateComponents()" class="md-raised md-primary" aria-label="add component">
        Add component
    </md-button>
</md-toolbar>