<div layout="row">
    <div flex layout="column" layout-padding>
        <div>
            <div data-component-id="widget-container">
                <div class="widget-group-title">ElB</div>
                <div class="widget-content">
                    5 <span>Instances</span>
                </div>
            </div>
        </div>
        <div>
            <div data-component-id="widget-container">
                <div class="widget-group-title">S3</div>
                <div class="widget-content">
                    5 <span>Buckets</span>
                </div>
            </div>
        </div>
    </div>

    <div flex layout="column" layout-padding>
        <div>
            <div data-component-id="widget-container">
                <div class="widget-group-title">EC2</div>
                <div class="widget-content">
                    4 <span>AZs</span>
                </div>
                <div class="widget-content">
                    2 <span>Autoscalling groups</span>
                </div>
                <div class="widget-content">
                    15 <span>Instances</span>
                </div>
            </div>
        </div>

    </div>

    <div flex layout="column" layout-padding>
        <div>
            <div data-component-id="widget-container">
                <div class="widget-group-title">RDS</div>
                <div class="widget-content">
                    2 <span>Instances</span>
                </div>
            </div>
        </div>
        <div>
            <div data-component-id="widget-container">
                <div class="widget-group-title">EBS</div>
                <div class="widget-content">
                    20 <span>Volumes</span>
                </div>
            </div>
        </div>
    </div>

</div>