<md-list>
    <md-subheader class="md-no-sticky" data-ng-if="!widgetMode" >
        <div class="md-list-item-text"  layout="row">
            <div flex>name</div>
            <div flex column-type="date">created_at</div>
            <div flex column-type="date">updated_at</div>
            <div flex column-type="tools" flex>tools</div>
        </div>
    </md-subheader>
    <md-list-item class="md-3-line" ng-repeat="project in projects">
        <div class="md-list-item-text"  layout="row" ng-click="navigateTo('/projects/' + project.id)">
            <div flex>{{ project.name }}</div>
            <div data-ng-if="!widgetMode" flex column-type="date">{{ project.created_at }}</div>
            <div data-ng-if="!widgetMode" flex column-type="date">{{ project.updated_at }}</div>
            <div data-ng-if="!widgetMode" flex column-type="tools">
                <md-icon md-svg-src="images/icons/settings.svg" ng-click="showProjectDetails(project, $event)"/>
            </div>
        </div>
    </md-list-item>
</md-list>