<mg-content layout="column" flex="1" style="overflow: hidden !important; position: relative">
    <md-sidenav class="md-whiteframe-z1" md-component-id="templateComponents">
        <div data-ng-include="'/views/grid/_grid-template-list.html'"></div>
    </md-sidenav>


    <div data-ng-include="'/views/grid/_grid-tools-top.html'"></div>

    <div data-ng-include="'/views/grid/_grid-svg.html'" layout="column" flex></div>

    <div data-ng-include="'/views/grid/_grid-tools-bottom.html'"></div>

    <div data-ng-include="'/views/grid/_grid-drawer-side.html'"></div>

    <div data-ng-include="'/views/grid/_grid-drawer-bottom.html'"></div>

</mg-content>