<md-content layout="row" layout-align="center" flex>
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Projects</h2>
                <span flex></span>
                <md-button data-ng-click="showProjectDetails()" class="md-raised md-primary" aria-label="add project">
                    create project
                </md-button>
            </div>
        </md-toolbar>
        <div data-ng-include="'views/project/_project_list.html'"></div>
    </md-card>
</md-content>